@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title>LED广告</title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/CSS/manager.css" rel="stylesheet" />
    <link href="~/CSS/BarLeft.css" rel="stylesheet" />
    <link href="~/CSS/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/manacommon.css" rel="stylesheet" />
</head>
<body>
    <div id="container-body">
        <div class="container-header">
            <div class="left">
                <span class="breadcrumb-left">
                    <img src="~/Images/current.png" />当前位置 :
                </span>
            </div>
            <div class="left">
                <ol class="breadcrumb">
                    <li class="active">系统配置</li>
                    <li class="active">设备广告</li>
                    <li class="active">LED广告</li>
                </ol>
            </div>

            <div class="divchoose">
                <input type="text" id="inputshu" class="form-control inputsearch" placeholder="设备名称">
                <a id="btncheck" class="btn btn-info " onclick="GetList();">查询</a>
                <div style="clear: both;"></div>
            </div>
            <div class="divdate">
                <span class="spandate">起止时间 :</span>
                <div class="input-group date form_date divleft" initialdate data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" id="txtStart" size="16" type="text" value="" readonly>
                    <div class="input-group-addon">
                        <div class="glyphicon glyphicon-time"></div>
                    </div>
                </div>
                <input type="hidden" id="dtp_input3" value="" />
                <span class="divto">—</span>
                <div class="input-group date form_date divright" initialdate data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" id="txtEnd" size="16" type="text" value="" readonly>
                    <div class="input-group-addon">
                        <div class="glyphicon glyphicon-time"></div>
                    </div>
                </div>
                <input type="hidden" id="dtp_input3" value="" />
            </div>


            <div style="clear: both"></div>
        </div>
        <div class="container-header">
            <div class="right-edit">

                <a id="btnBuild" class="btn btn-info " href="/DevManage/AddTicket">
                    添加
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
                <a id="btnEdit" class="btn btn-success" onclick="onEdit();">
                    修改
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
                <a id="btnDel" class="btn btn-danger" onclick="onDelete();">
                    删除
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </a>
                
                <a id="Button1" class="btn btn-primary" onclick="onAdAllot();">
                    广告分配
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="container-table">
        </div>
    </div>
    <script src="~/JS/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="~/JS/layer/layer.js"></script>
    <script src="~/JS/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/JS/bootstrap-datetimepicker.min.js"></script>
    <script src="~/JS/bootstrap-datetimepicker.js"></script>
    <script src="~/JS/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/JS/datecommon.js"></script>
    <script src="~/JS/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/JS/dataTables.bootstrap.js"></script>
    <script src="~/JS/trchecked.js"></script>
    <script src="~/JS/jQuery.plus.js" type="text/javascript"></script>
    <script src="~/JS/public.js"></script>
    <script src="~/JS/commonheight.js"></script>
    <script type="text/javascript">
        //下拉框选择
        $(function () {
            $(".dropdown-menu-right li").click(function () {
                var $item = $(this).children("a");
                $("#input-li").val($item.html()).attr("roleId", $item.attr("roleId"));
            });
            GetList();
            $('#tblLedAdList').on("click", ".checkall", function () {
                var check = $(this).prop("checked");
                $(".checkchild").prop("checked", check);
            });
        });
        //LED加载数据
        function GetList() {
            var ad = {
                AdName:$(".inputsearch").val(),
                Begin:$("#txtStart").val(),
                End:$("#txtEnd").val()

            };
            $(".container-table").html(' <table class="table table-striped tabtr" id="tblLedAdList"></table>');
            $("#tblLedAdList").dataTable({
                "bProcessing": true, //DataTables载入数据时，是否显示‘进度’提示
                "bServerSide": true, //是否启动服务器端数据导入
                //"bLengthChange": true,//去掉每页多少条框体
                //"aLengthMenu": [[10, 25, 50], [10, 25, 50]],
                "bJQueryUI": true, //是否使用 jQury的UI theme
                "bAutoWidth": false, //是否自适应宽度
                "bScrollCollapse": false, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
                "bFilter": false, //是否启动过滤、搜索功能
                "ordering": false,  //去掉页头排序
                //searching: false, //去掉搜索框方法一：百度上的方法，但是我用这没管用
                sDom: '"top"i',   //去掉搜索框方法二：这种方法可以，动态获取数据时会引起错误
                "ajax": {
                    "url": "/Ad/GetLedAdList",
                    "type": "POST",
                    "data": {ad:ad }
                },
                "aoColumns": [
                        {
                            "mDataProp": "ID", "sTitle": "<input type='checkbox'  class='checkall'/>全选", "sDefaultContent": "", "sClass": "center",
                            "render": function (data, type, full, meta) {
                                return '<input type="checkbox"  name="id" class="checkchild"  value="' + data + '" />';
                            },
                            "bSortable": false
                        },
                         {
                             "mDataProp": "CompanyName",
                             "sTitle": "公司名称",
                             "sDefaultContent": "",
                             "sClass": "center"
                         },
                        {
                            "mDataProp": "AdName",
                            "sTitle": "广告名称",
                            "sDefaultContent": "",
                            "sClass": "centername"
                        },
                        {
                            "mDataProp": "Total",
                            "sTitle": "屏幕总宽度",
                            "sDefaultContent": "",
                            "sClass": "centername"
                        },
                       {
                           "mDataProp": "Y",
                           "sTitle": "高度",
                           "sDefaultContent": "",
                           "sClass": "center"
                       },
                        {
                            "mDataProp": "X",
                            "sTitle": "宽带",
                            "sDefaultContent": "",
                            "sClass": "center"
                        }, {
                            "mDataProp": "Contents",
                            "sTitle": "内容",
                            "sDefaultContent": "",
                            "sClass": "center"
                        }, {
                            "mDataProp": "DateEnable",
                            "sTitle": "时间启用状态",
                            "sDefaultContent": "",
                            "sClass": "center"
                        }, {
                            "mDataProp": "WeatherEnable",
                            "sTitle": "天气启用状态",
                            "sDefaultContent": "",
                            "sClass": "center"
                        }, {
                            "mDataProp": "PushPlanConfig",
                            "sTitle": "推送计划",
                            "sDefaultContent": "",
                            "sClass": "center", render: function (data) {
                                var d = eval('' + data + '')
                                var array = new Array();
                                for (var i = 0; i < d.length; i++) {
                                    array.push(d[i].timeQuantum);
                                }
                                return array;
                            }
                        }, {
                            "mDataProp": "SendEnable",
                            "sTitle": "发送状态",
                            "sDefaultContent": "",
                            "sClass": "center"
                        }, {
                            "mDataProp": "SaveDate",
                            "sTitle": "保存时间",
                            "sDefaultContent": "",
                            "sClass": "center", render: function (data) {
                                return convertTime(data, "yyyy-MM-dd hh:mm:ss");
                            }
                        }, {
                            "mDataProp": "LastUpdate",
                            "sTitle": "更新时间",
                            "sDefaultContent": "",
                            "sClass": "center", render: function (data) {
                                return convertTime(data, "yyyy-MM-dd hh:mm:ss");
                            }
                        }, {
                            "mDataProp": "Rmearks",
                            "sTitle": "备注",
                            "sDefaultContent": "",
                            "sClass": "center"
                        }

                ], "language": {
                    "processing": "加载中...",
                    "lengthMenu": "每页显示 _MENU_ 条数据",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "emptyTable": "没有匹配结果",
                    "loadingRecords": "载入中...",
                    "thousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    },
                    rowCallback: function (row, data, index) {
                        var ck = $('#tblLedAdList').find('input[class="checkall"]');
                        var bl = $(ck).is(':checked');
                        if (bl) {
                            $(ck).click();
                        }

                    }
                }
            });

        }

        //获取选中行的Id
        function getRow() {
            if ($(".checkchild:checked").length !== 1) {
                // alert("一次只能修改一条数据"); return;
                layer.alert("一次只能修改一条数据", { icon: 3 }); return;
            }
            var $obj = $(".checkchild:checked").val();
            return $obj;

        }
        //设备配置
        function onDeviceConfig() {
            var $obj = getRow();
            if ($obj) {
                var id = $obj;
                $.loadPage("/DevManage/DeviceConfig/" + id);
            }
        };
        //广告分配
        function onAdAllot() {
            if ($(".checkchild:checked").length !== 1) {
                //alert("请选择一条数据！"); return;
                layer.alert("请选择一条数据", { icon: 3 }); return;
            }
            var $obj = $(".checkchild:checked").val();
            if ($obj) {
                var id_array = new Array();
                $('input[name="id"]:checked').each(function () {
                    id_array.push($(this).val());//向数组中添加元素
                });
                var idstr = id_array.join(',');//将数组元素连接起来以构建一个字符串
                $.loadPage("/Ad/LED?idstr=" + idstr);
            }
        };

        //编辑操作
        function onEdit() {
            var $obj = getRow();
            if ($obj) {
                var id = $obj;
                $.loadPage("/DevManage/EditTicket/" + id);
            }
        };

        //删除操作
        function onDelete() {
            var id_array = new Array();
            $('input[name="id"]:checked').each(function () {
                id_array.push($(this).val());//向数组中添加元素
            });
            var idstr = id_array.join(',');//将数组元素连接起来以构建一个字符串
            if (idstr.length <= 0) {
                layer.alert("请选择要删除数据", { icon: 3 }); return;
            }
            layer.alert('确定要删除数据吗？', {
                time: 0 //不自动关闭
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $.HttpGet("/DevManage/DeleteTicket", { arry: idstr }, function (data) {
                        console.log(data.State);
                        if (data.State === 1) {
                            layer.msg("删除成功", { icon: 1 });
                            GetList();
                        }
                        else {
                            layer.msg("删除失败\r\n" + data.Message, { icon: 2 });
                        }
                    });
                }
            });
        };

    </script>
</body>
</html>
