@using Web.EF;
@{
    Layout = null;
    List<V_Logs_Ticket> LogsTicket = ViewBag.list as List<V_Logs_Ticket>;
    List<Tb_Device_Ticket> deviceName = ViewBag.DeviceName as List<Tb_Device_Ticket>;
    List<V_FP_Ticket> deviceName1 = ViewBag.DeviceName as List<V_FP_Ticket>;
}

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div id="container-body">
    <div class="container-header">
        <div class="left">
            <span class="breadcrumb-left">
                <img src="~/Images/current.png" />当前位置 :
            </span>
            </div>
            <div class="left">
                <ol class="breadcrumb">
                    <li class="active">实时监控</li>
                    <li class="active">设备交互</li>
                    <li class="active">安全检票闸机</li>
                </ol>
            </div>
        <div class="divchoose">
            <input type="text" id="inputshu" class="form-control DeviceName" placeholder="设备名称">
            <a id="btncheck" class="btn btn-info " onclick="GetList();">查询</a>
            <div style="clear: both;"></div>
        </div>
        <div class="divdate">
            <span class="spandate">起止时间 :</span>
            <div class="input-group date form_date divleft" initialdate data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" id="txtStart" size="16" type="text" value="" readonly>
                <div class="input-group-addon">
                    <div class="glyphicon glyphicon-time"></div>
                </div>
            </div>
            <input type="hidden" id="dtp_input3" value="" />
            <span class="divto">—</span>
            <div class="input-group date form_date divright" initialdate data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" id="txtEnd" size="16" type="text" value="" readonly>
                <div class="input-group-addon">
                    <div class="glyphicon glyphicon-time"></div>
                </div>
            </div>
            <input type="hidden" id="dtp_input3" value="" />
        </div>
          
         
        <div style="clear: both"></div>
    </div>
    <div class="container-header">
      
        <div style="clear: both"></div>
    </div>
    <div class="container-table">

     
    </div>
</div>

@section scripts{
    <script type="text/javascript">
      
        $(function() {
            GetList();
        });

        function GetList() {

            $(".container-table").html(' <table class="table table-striped tabtr" id="tblLogsList"></table>');
            $("#tblLogsList").dataTable({
                "bProcessing": true, //DataTables载入数据时，是否显示‘进度’提示
                "bServerSide": true, //是否启动服务器端数据导入
                "aLengthMenu": [[10, 25, 50], [10, 25, 50]],
                "bLengthChange": false,//去掉每页多少条框体
                "bJQueryUI": true, //是否使用 jQury的UI theme
                "bAutoWidth": false, //是否自适应宽度
                "bScrollCollapse": true, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
                "bFilter": false, //是否启动过滤、搜索功能
                "ordering": false,  //去掉页头排序
                "ajax": {
                    "url": "/Monitoring/GetLogsTicketList",
                    "type": "POST",
                    "data": { DeviceName: $(".DeviceName").val(), starts: $("#txtStart").val(), end: $("#txtEnd").val() }
                },
                "aoColumns": [
                        //{
                        //    "mDataProp": "DeviceKey", "sDefaultContent": "", "sClass": "center",
                        //    "render": function (data, type, full, meta) {
                        //        return '<input type="checkbox" name="checkbox"  class="checkchild"  value="' + data + '" />';
                        //    },
                        //    "bSortable": false
                        //},
                        {
                            "mDataProp": "ID",
                            "sTitle": "设备ID",
                            "sDefaultContent": "",
                            "sClass": "center"
                        },
                        {
                            "mDataProp": "DeviceName",
                            "sTitle": "设备名称",
                            "sDefaultContent": "",
                            "sClass": "center"
                        },
                       {
                           "mDataProp": "ElapsedTime", "sTitle": "耗时", "sDefaultContent": "", "sClass": "center"
                       },
                       {
                           "mDataProp": "SaveDate", "sTitle": "保存时间", "sDefaultContent": "", "sClass": "center", render: function (data) {
                              return convertTime(data, "yyyy-MM-dd hh:mm:ss");
                           }
                       },
                       {
                           "mDataProp": "FunctionName", "sTitle": "业务功能名称", "sDefaultContent": "", "sClass": "center"
                       },
                        {
                            "mDataProp": "DeviceKey",
                            "sTitle": "设备序列号",
                            "sDefaultContent": "",
                            "sClass": "center"
                        },


                        {
                            "mDataProp": "Result",
                            "sTitle": "结果",
                            "sDefaultContent": "",
                            "sClass": "center", render: function (data) {
                                return data == 1 ? "成功" : "失败";
                            }
                        }

                ], "language": {
                    "processing": "加载中...",
                    "lengthMenu": "每页显示 _MENU_ 条数据",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "emptyTable": "没有匹配结果",
                    "loadingRecords": "载入中...",
                    "thousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    }
                }
            });
        }
</script>
}