@*@using Web.EF*@

@{
    Layout = null;
    //List<Tb_Users> users = ViewBag.Users as List<Tb_Users>;
    //var count = ViewBag.Count;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title></title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="/CSS/bootstrap-datetimepicker.min.css" rel="stylesheet" />    <link href="~/CSS/manager.css" rel="stylesheet" />
    <link href="~/CSS/BarLeft.css" rel="stylesheet" />
    <link href="~/CSS/manacommon.css" rel="stylesheet" />
</head>
<body style="height: 600px">

    <div id="container-body">
        <div class="container-header">
            <div class="left">
                <span class="breadcrumb-left">
                    <img src="~/Images/current.png" />当前位置:
                </span>
            </div>
            <div class="left">
                <ol class="breadcrumb">
                    <li class="active">应用权限</li>
                    <li class="active">权限管理</li>
                </ol>
            </div>
            <div class="divchoose">
                <input type="text" id="inputshu"  class="form-control inputsearch" placeholder="用户名称">
                <a id="btncheck" class="btn btn-info " onclick="GetList();">查询</a>
                <div style="clear: both;"></div>
            </div>
            <div class="divdate">
                <span class="spandate">起止时间 :</span>
                <div class="input-group date form_date divleft" initialdate data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" id="txtStart" size="16" type="text" value="" readonly>
                    <div class="input-group-addon">
                        <div class="glyphicon glyphicon-time"></div>
                    </div>
                </div>
                <input type="hidden" id="dtp_input3" value="" />
                <span class="divto">—</span>
                <div class="input-group date form_date divright" initialdate data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" id="txtEnd" size="16" type="text" value="" readonly>
                    <div class="input-group-addon">
                        <div class="glyphicon glyphicon-time"></div>
                    </div>
                </div>
                <input type="hidden" id="dtp_input3" value="" />
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="container-header">
            <div class="right-edit">
                <a id="btnEdit" class="btn btn-success" onclick="onEdit();return false;">
                    分配
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="container-table">

        </div>
        <div class="table-pager">
            <nav id="paging">
                <ul class="pager"></ul>
            </nav>
            <div style="clear: both;"></div>
        </div>
    </div>
    <script src="/JS/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/JS/layer/layer.js"></script>
    <script src="/JS/bootstrap.min.js" type="text/javascript"></script>
    <script src="/JS/bootstrap-datetimepicker.min.js"></script>
    <script src="/JS/bootstrap-datetimepicker.js"></script>
    <script src="/JS/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/JS/datecommon.js"></script>
    <script src="/JS/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/JS/dataTables.bootstrap.js"></script>
    <script src="/JS/trchecked.js"></script>
    <script src="/JS/jQuery.plus.js" type="text/javascript"></script>
    <script src="/JS/public.js"></script>
    <script src="/JS/commonheight.js"></script>    <script type="text/javascript">


        $(function() {
            GetList();
        });

        //获取选中行的Id
        function getRow() {
            var $obj = $(":checked");
            if ($obj.length !== 1) {
                alert("请选择一条数据.");
                return null;
            }
            return $obj;
        }

        //编辑操作
        function onEdit() {
            var $obj = getRow();
            var name = $(".checkchild:checked").parent().siblings(".centername").text();
            if ($obj) {
                var id = $obj.attr("rowId");
                $.loadPage("/ApplicationRight/Assignperm?id=" + id+"&username="+name);
            }
        };

        function GetList() {

            $(".container-table").html(' <table class="table table-striped tabtr" id="tblUserList"></table>');
            $("#tblUserList").dataTable({
                "bProcessing": true, //DataTables载入数据时，是否显示‘进度’提示
                "bServerSide": true, //是否启动服务器端数据导入
                bLengthChange: false,//去掉每页多少条框体
                "bJQueryUI": true, //是否使用 jQury的UI theme
                "bAutoWidth": false, //是否自适应宽度
                "bScrollCollapse": true, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
                "bFilter": false, //是否启动过滤、搜索功能
                "ordering": false,  //去掉页头排序
                "ajax": {
                    "url": "/AccManage/GetDeveloperList",
                    "type": "POST",
                    "data": { X: $(".inputsearch").val(), starts: $("#txtStart").val(), end: $("#txtEnd").val() }
                },
                "aoColumns": [
                        {
                            "mDataProp": "UserID", "sDefaultContent": "", "sClass": "center",
                            "render": function (data, type, full, meta) {
                                return '<input type="checkbox" name="checkbox"  class="checkchild"  rowid="' + data + '" />';
                            },
                            "bSortable": false
                        },
                        {
                            "mDataProp": "UserName",
                            "sTitle": "用户名称",
                            "sDefaultContent": "",
                            "sClass": " centername"
                        }
                        ,
                       {
                           "mDataProp": "Level", "sTitle": "用户类型", "sDefaultContent": "", "sClass": "center"
                            , render: function (data) {
                                return data == 0 ? "管理员" : "开发者";
                            }
                       },
                       {
                           "mDataProp": "CreateDate", "sTitle": "创建时间", "sDefaultContent": "", "sClass": "center"
                           , render: function (data) {
                               return convertTime(data, "yyyy-MM-dd hh:mm:ss");
                           }
                       },

                        {
                            "mDataProp": "Enabled",
                            "sTitle": "是否有效",
                            "sDefaultContent": "",
                            "sClass": "center", render: function (data) {
                                return data == 1 ? "有效" : "无效";
                            }
                        },
                        {
                            "mDataProp": "Token",
                            "sTitle": "用户标识",
                            "sDefaultContent": "",
                            "sClass": "center"
                        }

                ], "language": {
                    "processing": "加载中...",
                    "lengthMenu": "每页显示 _MENU_ 条数据",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "emptyTable": "没有匹配结果",
                    "loadingRecords": "载入中...",
                    "thousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    }
                }
            });

        }
    </script>
</body>
</html>
