 #container-body .left-edit {
            float: left;
            padding: 7px 0 0 10px;
        }

            #container-body .left-edit .left-edit-title {
                border-left: #17AEE3 solid 3px;
                padding-left: 10px;
            }


              #container-body > .admintable {
                padding: 10px;
                margin-top: 25px;
                border-bottom: 1px solid #DFDFDF;
            }

                #container-body > .admintable > table {
                    width: 470px;
                    margin: 1px auto;
                }

                    #container-body > .admintable > table tr > td:first-child {
                        padding: 10px 0px 10px 10px;
                    }

                    #container-body > .admintable > table tr > td:last-child {
                        padding: 10px 10px 10px 0px;
                    }

                    #container-body > .admintable > table tr > td {
                        padding: 10px;
                    }
                        #container-body > .admintable > table tr > td:nth-of-type(2n) {
                         width:350px;
                        }
                        #container-body > .admintable > table tr > td:nth-of-type(2n+1) {
                          text-align:right;
                           padding-right:15px;
                        }
                    #container-body > .admintable > table td > span {
                        color: #f00;
                        padding-right: 2px;
                    }

                       /*#container-body > .admintable > table td > .table-buton-left {
                    float: left;
                    width: 100px;
                    margin-left: 50px;
                }*/

                #container-body > .admintable > table td > .table-buton-right {
                    float: left;
                    width: 100px;
                    /*margin-right: 50px;*/
                }
                 #container-body > .admintable > table td > .statelab {
                  padding-top:5px;
                }
                    #container-body > .admintable > table td > .statelab > .havalab {
                      margin-left:5px;
                    }
        #container-body > .admintable > table td >.divleft {
            width:150px; float:left;
        }
         #container-body > .admintable > table td >.divright {
            width:150px; float:right;
        }
        #container-body > .admintable > table td>.divto {
        float:left;
         padding-left:10px;
         padding-top:7px;
        }