
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <title>升级IE</title>
    <link href="~/CSS/IE.css" rel="stylesheet" />
</head>
<body>
    <div class="divUpdate">
        <div class="divimg"><a href="https://www.microsoft.com/zh-cn" id="btnUpdate" class="btn btn-info">立即升级</a></div>
    </div>
</body>
</html>
